<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fields</key>
	<array>
		<string>cardNumber</string>
		<string>name</string>
		<string>surname</string>
		<string>email</string>
		<string>side</string>
		<string>age</string>
		<string>description</string>
	</array>
	<key>Icons</key>
	<dict>
		<key>Student</key>
		<string>student-icon.png</string>
	</dict>
</dict>
</plist>
