<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icons</key>
	<dict>
		<key>Secretar</key>
		<string>secretar-icon.jpeg</string>
		<key>Employer</key>
		<string>employer-icon.png</string>
		<key>Manager</key>
		<string>manager-icon.jpg</string>
		<key>Expert</key>
		<string>expert-icon.jpeg</string>
	</dict>
	<key>Fields</key>
	<array>
		<string>login</string>
		<string>password</string>
		<string>credential</string>
		<string>side</string>
		<string>surname</string>
		<string>name</string>
		<string>description</string>
	</array>
</dict>
</plist>
